{{- if and .Values.metrics.enabled .Values.metrics.prometheusRule.enabled (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") -}}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "motive-service.fullname" . }}-alerting
  {{- if .Values.metrics.prometheusRule.namespace }}
  namespace: {{ .Values.metrics.prometheusRule.namespace | quote }}
  {{- else }}
  namespace: {{ .Release.Namespace }}
  {{- end }}
  labels:
    {{- include "motive-service.serviceLabels" . | nindent 4 }}
    {{- with .Values.metrics.prometheusRule.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.metrics.prometheusRule.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  groups:
    # default alerts - START
    {{- if and
      (or
        (and .Values.service.autoscaling.enabled (gt (.Values.service.autoscaling.minReplicas | int) 0))
        (and .Values.service.keda.enabled (gt (.Values.service.keda.minReplicas | int) 0))
        (and (not .Values.service.autoscaling.enabled) (not .Values.service.keda.enabled) (gt (.Values.service.replicaCount | int) 0))
      )
      (.Values.metrics.prometheusRule.defaultAlerts.zeroPods.enabled)
    }}
    - name: {{ include "motive-service.fullname" . }}-default-alerting
      rules:
        {{- if and
          (or
            (and .Values.service.autoscaling.enabled (gt (.Values.service.autoscaling.minReplicas | int) 0))
            (and .Values.service.keda.enabled (gt (.Values.service.keda.minReplicas | int) 0))
            (and (not .Values.service.autoscaling.enabled) (not .Values.service.keda.enabled) (gt (.Values.service.replicaCount | int) 0))
          )
          (.Values.metrics.prometheusRule.defaultAlerts.zeroPods.enabled)
        }}
        - alert: ZeroPods-{{ include "motive-service.fullname" . }}
          expr: sum(kube_pod_status_ready{namespace="{{ $.Release.Namespace }}", pod=~"{{ include "motive-service.fullname" . }}-.+", condition="true"}) == 0
          for: {{ .Values.metrics.prometheusRule.defaultAlerts.zeroPods.for }}
          labels:
            severity: critical
            {{- with $.Values.metrics.prometheusRule.defaultAlerts.team }}
            team: {{ . | quote }}
            {{- end }}
            {{- with (include "motive-service.slackChannelCritical" $) }}
            slack_channel: {{ . | quote }}
            {{- end }}
            {{- with $.Values.metrics.prometheusRule.defaultAlerts.extraLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          annotations:
            summary: 'Number of Pods == 0'
            description: 'Service reports no pods running'
        {{- end }}
    {{- end }}
    # default alerts - END

    # Kafka default alerts - START
    {{ if .Values.metrics.prometheusRule.defaultAlerts.kafka.enabled }}
    - name: {{ include "motive-service.fullname" . }}-kafka-alerting
      rules:
        {{- if .Values.metrics.prometheusRule.defaultAlerts.kafka.deadLetter.enabled }}
        {{- with .Values.metrics.prometheusRule.defaultAlerts.kafka.deadLetter.topic }}
        - alert: DeadQueueItemsIncoming-{{ include "motive-service.fullname" $ }}
          expr: (kafka:topic:messages:in{topic="{{ . }}"} - kafka:topic:messages:in{topic="{{ . }}"} offset 5m) > 0
          for: 0m
          labels:
            severity: warning
            skip_resolved: 'true'
            {{- with $.Values.metrics.prometheusRule.defaultAlerts.team }}
            team: {{ . | quote }}
            {{- end }}
            {{- with (include "motive-service.slackChannelCritical" $) }}
            slack_channel: {{ . | quote }}
            {{- end }}
            {{- with $.Values.metrics.prometheusRule.defaultAlerts.extraLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          annotations:
            summary: 'Topic "{{ . }}" has new incoming messages'
            description: 'Service reports there are new messages which could not be processed correctly'
        {{- end }}
        {{- end }}

        {{- if .Values.metrics.prometheusRule.defaultAlerts.kafka.lag.enabled }}
        {{- range .Values.metrics.prometheusRule.defaultAlerts.kafka.lag.topics }}
        - alert: TopicLag-{{ include "motive-service.fullname" $ }}
          expr: sum(kafka_consumergroup_lag{namespace="{{ $.Values.metrics.prometheusRule.defaultAlerts.kafka.lag.namespace | required "namespace is required" }}", consumergroup="{{ .consumerGroup | default $.Values.metrics.prometheusRule.defaultAlerts.kafka.lag.consumerGroup | required "consumerGroup is required." }}", topic="{{ .topic | required "topic is required" }}"}) > {{ .threshold | required "threshold is required" }}
          for: {{ .for | default "10s" }}
          labels:
            severity: warning
            {{- with $.Values.metrics.prometheusRule.defaultAlerts.team }}
            team: {{ . | quote }}
            {{- end }}
            {{- with (include "motive-service.slackChannelCritical" $) }}
            slack_channel: {{ . | quote }}
            {{- end }}
            {{- with $.Values.metrics.prometheusRule.defaultAlerts.extraLabels }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          annotations:
            summary: 'Topic "{{ .topic }}" lag > {{ .threshold }}'
            description: 'Service reports there is lag consuming events from topic'
        {{- end }}
        {{- end }}
    {{ end }}
    # Kafka default alerts - END

    {{- with .Values.metrics.prometheusRule.extraAlertingRules }}
    - name: {{ include "motive-service.fullname" $ }}-extra-alerting
      rules:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
